<header class="header">
<a href="/" class="logo">My_Logo</a>
    <nav class="header__nav">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
<div class="header_button">

    <button class = "searcBtn" aria-expanded="false">
        Search
    </button>
</div>

</header>